.shop-container {
	display: grid;
	grid-template-columns: 4fr 1fr;
}
.products-container {
	margin: 36px 104px;
}
.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 45px;
}
.cart-container {
	background-color: rgba(255, 153, 0, 0.3);
}
.order-btn{
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
	background-color: orange;
	border: 1px solid rgb(163, 108, 5);
	border-radius: 3px;
	cursor: pointer;
}
.pagination{
	margin-top: 50px;
}
.pagination button{
	margin-right: 8px;
	font-size: 16px;
	padding: 8px;
	cursor: pointer;
	border: 1px solid orange;
	background-color: white;
}
.pagination .selected{
	background-color: orange;
} 
