.header {
	background-color: #1c2b35;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 140px;
	height: 80px;
	position: sticky;
	top: 0;
	z-index: 99;
}
.nav-bar a {
	color: #ffffff;
	margin-left: 36px;
	text-decoration: none;
	font-size: 17px;
}
.register-button{
	border: 1px solid #FF9900;
	padding: 8px 12px;
	border-radius: 4px;
	transition: all 0.3s;
}
.register-button:hover{
	background-color: #FF9900;
	color: black
}
.singout-btn{
	border: 1px solid #FF9900;
	padding: 8px 12px;
	background-color: #f3ae45;
	font-size: 16px;
	cursor: pointer;
	color: black;
	border-radius: 4px;
	margin-left: 36px;
	transition: all 0.3s;
}
.singout-btn:hover{
	background-color: #e08c0d;
}

